[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/benjifisher/matchit.zip.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk
[submodule "ftbundle/perl/perlomni"]
	path = ftbundle/perl/perlomni
	url = http://github.com/c9s/perlomni.vim
[submodule "ftbundle/erl/erl"]
	path = ftbundle/erl/erl
	url = https://github.com/oscarh/vimerl.git
[submodule "plugin/unbundle"]
	path = plugin/unbundle
	url = https://github.com/sunaku/vim-unbundle.git
[submodule "bundle/autocomplepop"]
	path = bundle/autocomplepop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule "ftbundle/bash/bash-support"]
	path = ftbundle/bash/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/bufferexplorer"]
	path = bundle/bufferexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "ftbundle/bash/awk-support"]
	path = ftbundle/bash/awk-support
	url = https://github.com/vim-scripts/awk-support.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/session"]
	path = bundle/session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
